<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <body>
    <div id="hidden">
      <span name="session-id" id="session-id">{{session['id']}}</span>
    </div>
    <main>
      <div id="userinfo-container"></div>
      <div id="boardinfo-container"></div>
    </main>

    <script
      type="text/javascript"
      src="{{url_for('static', filename='/js/mypage.js')}}"
    ></script>
  </body>
</html>
